
body{
  background-image: url("img/wallpaper.jpg");
  background-position: center;
  backdrop-filter: brightness(30%);
}

.container{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

header, footer{
background-color: rgba(191, 185, 151,0.5);
padding: 3%;

}


@font-face{
  src: url(font/GOGOIA-Regular.ttf);
  font-family: gogoia;
}

h1{
font-weight: 100;
font-size: 70px;
color: white;
text-align: center;
font-family: gogoia;
}
* {
 font-family: Arial;
 margin-top: 2%;
 margin-bottom: 2%;
}

p{
font-family: Arial;
color: white;
text-align: justify;
font-size: 20px;
margin-left: 10%;
margin-right:10%;
text-indent: 40px;
margin-top: 2%;
margin-bottom: 2%;
}

.centro{
color: grey;
text-align: center;
}

h2{
font-weight: 70px;
font-size: 50px;
text-align: center;
color: white;
font-weight: bold;
margin-top: 2%;
margin-bottom: 2%;
}

img{
  position: relative;
  left: 25%;
  width: 50%;
  height: 50%;
}

figure{
  margin-bottom: 44px;
}

a:link, a:visited{
  background-color: white;
  color: black;
  border: 2px solid rgb(99, 104, 58);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active{
  background-color: rgb(99, 104, 58);
  color: white;
}
/*Lista não ordenada e lista ordenada tem a mesma configuração*/
ul li, ol li{
font-family: Arial, Helvetica, sans-serif;
color: white;
text-align: justify;
margin-left: 10%;
margin-right:10%;
font-size: 20px;
text-indent: 40px;
margin-top: 2%;
margin-bottom: 2%;
}

table{
border-collapse: collapse;
width: 100%;
color: white;
font-weight: bold;
}

td, th{
border: 0.1px solid white;
text-align: center;
padding: 6px;
font-size: 20px;
}

tr:nth-child(even){
background-color:rgb(117, 112, 97)
}